html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.frame {
    width: 95%;
    margin-bottom: 0;
}

.list {
    table-layout: fixed;
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
}

.main {
    position: relative;
}

.side {
    position: relative;
    width: 367px;
    border: none;
}

.side_fix {
    position: fixed;
    width: 352px;
    z-index: 7;
}

.canvas_area {
    position: static;
    z-index: 4;
}

.canvas_div {
    /*background: orange;*/
    z-index: 3;
}

canvas {
    /*background: yellow;*/
}

.panel {
    background: transparent;
}

.panel-heading {
    font-family: "Tahoma", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}

.panel-body {
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 200%;
    position: relative;
    z-index: 10;
}

.panel-footer {
    font-family: "Calibri", sans-serif;
    font-size: 10pt;
    padding: 3px;
    position: relative;
    z-index: 2;
}

.toolbox {
    font-family: "Tahoma", sans-serif;
    font-size: 12pt;
    z-index: 2;
}

.userinfo {
    font-family: "Tahoma", sans-serif;
    font-size: 12pt;
    z-index: 2;
}

.doc_id {
    font-family: "Tahoma", sans-serif;
    font-size: 9pt;
}

.progress-msg {
    font-family: "Tahoma", sans-serif;
    font-size: 12pt;
    position: relative;
    top: -4px;
}

h1, h2 {
    text-align: center;
    padding-top: 5px;
}

ol, ul, li.inline {
    display: inline;
    list-style: none;
    line-height: 115%;
    padding: 0;
}

cite, ul {
    border: 3px solid transparent;
}

p {
    margin: 0;
}

label {
    font-family: "Tahoma", sans-serif;
    font-size: 12pt;
}

button {
    font-family: "Tahoma", sans-serif;
}

button.command {
    width: 90px;
}

.option {
    font-family: "Tahoma", sans-serif;
    font-size: 10pt;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
}

.ui-selecting {
    background: #FF0000;
}

.ui-selected {
    background: #FFFF00;
}

.event {
    background: #be3f3f /*none rgba(170, 0, 0, 0.75)*/;
    color: #FFFFFF;
    font-weight: bold;
}

.event_candidate {
    color: #FF0000;
    font-weight: bold;
    text-decoration: underline;
}

.location {
    background: #dffebf /*none rgba(128, 255, 0, 0.25)*/;
}

.time {
    background: #fefebf /*none rgba(255, 255, 0, 0.25)*/;
}

.participant {
    background: #fedfbf /*none rgba(255, 128, 0, 0.25)*/;
}

.subj {
    border: 3px dotted orange;
    text-decoration: none;
}

.that {
    background: #bfe7f9 /*none rgba(0, 160, 233, 0.25)*/;
    color: #002e73;
    border: 3px dotted #52c8ff;
    text-decoration: none;
}

.focus {
    border: 3px dotted gray;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.form-signin {
    margin: 0 auto;
    width: 400px;
    padding: 40px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
