{% extends "index.html" %}
{% block script_header %}
{% endblock script_header %}
{% block body %}
    <div>
        <form class="form-signin well" onsubmit="doLogin(); return false;">
            {% csrf_token %}
            <label for="username" class="sr-only">Email address</label>
            <input id="username" type="email" class="form-control" placeholder="Email address" required autofocus
                   value="ZA.chrisjihee@etri.re.kr">
            <label for="password" class="sr-only">Password</label>
            <input id="password" type="password" class="form-control" placeholder="Password" required
                   value="chrisjihee">
            <label style="font-weight: normal"><input id="remember" type="checkbox"> Remember me</label>
            <button id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock body %}
