<div class="btn-group bs-callout focused-primary" data-toggle="buttons" style="padding:5px; margin-right:8px;">
    <div class="btn-group bs-callout focused-success" data-toggle="buttons"
         style="padding:3px; margin-right:8px;"> {% comment %}display:inline-block; width:max-content;{% endcomment %}
        <label class="word btn btn-default"
               style="padding:5px 3px 0 3px;">
            <input type="checkbox" style="display:none">
            <table class="word" id="{{ word.id }}"
                   style="display:inline-block; width:max-content; padding:0; margin:0;">
                <tr>
                    <td class="word_label"
                        style="text-align:center; font-size:9pt; font-family:Consolas; color:{{ word.label_color }}">{{ word.label }}</td>
                </tr>
                <tr>
                    <td class="word_text"
                        style="font-size:10pt; padding-left:10px; padding-right:10px;">{{ word.text }}</td>
                </tr>
            </table>
        </label>
    </div>
</div>
