{% extends "index.html" %}
{% block script_header %}
    <script type="text/javascript">
        if (!getAuthCode())
            window.location = "/login/";
{#        alert(authcode);#}
        $.ajax({
            url: "/ZA/",
            type: "get",
            async: true,
            beforeSend: function (req) {
                req.setRequestHeader("Authorization", authcode);
            },
            success: function (data, type, res) {
{#                alert("success");#}
                console.log("[success]");
                console.log(res)
                //console.log(data);
                //$("html").html(data);
{#                console.log(res.responseText);#}
{#                $(document).html(res.responseText);#}
            },
            error: function (res) {
                console.log("[error]");
{#                alert("error");#}
            }
        });

        $(function () {
            $("#username").text(username);
        });
    </script>
{% endblock script_header %}
{% block body %}
    <div class="row" style="width:1000px; margin-left:auto; margin-right:auto; margin-bottom:50px">
        <div class="col-md-offset-8 col-md-3 well well-sm"
             style="text-align:center; font-size:9pt; height:35px; margin-bottom:0; max-width:240px">
            <i class="glyphicon glyphicon-user"> </i>
            <span id="username"></span>
        </div>
        <div class="col-md-1" style="padding-left:8px; padding-right:8px">
            <button id="signout" class="btn btn-block btn-danger" style="max-width:70px" onclick="doLogout()">
                <i class="glyphicon glyphicon-off"> </i>
            </button>
        </div>
    </div>

    <div class="panel panel-warning" style="width:1000px; margin-left:auto; margin-right:auto; margin-bottom:90px">
        <div class="panel-heading">Remained Documents</div>
{#        <div class="panel-body">#}
{#            <table class="table table-condensed table-hover list" align="center">#}
{#                {% for row in r_doc_ids %}#}
{#                <tr>#}
{#                    {% for col in row %}#}
{#                    <td class="doc_id"><a href="{{col.href}}">{{col.html}}</a></td>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                {% empty %}#}
{#                <tr><td class="doc_id">No document</td></tr>#}
{#                {% endfor %}#}
{#            </table>#}
        </div>
    </div>

{#    {{ progress }}#}
{#    {{ texts_not_finished }}#}
{#    {{ texts_finished }}#}
{% endblock body %}
