{% extends "index.html" %}

{% block script_header %}
    <script type="text/javascript">
        if (!getAuthCode())
            window.location = "/login/";
        $.ajax({
            url: "/ZA/",
            type: "get",
            async: true,
            beforeSend: function (req) {
                req.setRequestHeader("Authorization", authcode);
            }
        });

        const goList = function () {
            window.location = "/ZA/";
        };

        const showDeps = function (x) {
            $("div#" + x + ".deps").slideToggle("slow");
        };

        $(function () {
            $("#username").text(username);
            const max_h = Math.ceil(Math.pow($(".sent").width(), 0.75)) - 25;
            const offset = $("td.sent").offset().left;

            {% for sent in textcont.sents %}
                $("div#{{ sent.id }}.deps").append('<canvas id="{{ sent.id }}" class="deps" width="' + (document.body.scrollWidth - 1) + '" height="' + max_h + '" style="position:relative; top:15px;">');
                {% for word in sent.words %}
                    {% if word.head > 0 %}
                        linkTwo($("canvas#{{ sent.id }}.deps")[0], offset, $("#{{ sent.id }}.sent #{{ word.id }}.word"), $("#{{ sent.id }}.sent #{{ word.head }}.word"), max_h);
                    {% endif %}
                {% endfor %}
            {% endfor %}

            $(".word").mousedown(function () {
                $(this).prepend("{")
            }).mouseup(function () {
                $(this).append("}");
            });
        });
    </script>
{% endblock script_header %}

{% block header %}
{% endblock header %}

{% block body %}
    <div style="padding-top:10px; padding-bottom:30px; padding-left:10px">
        <div style="display:inline-block; font-size:16pt; font-weight:bold; position:relative; top:3px; margin-right:10px;">
            생략어 복원 Annotation
        </div>
        <div class="well well-sm"
             style="display:inline-block; text-align:center; font-size:9pt; width:300px; height:35px; margin-bottom:0">
            <i class="glyphicon glyphicon-file"> </i>
            <span id="textname">{{ textname }}</span>
        </div>
        <div class="well well-sm"
             style="display:inline-block; text-align:center; font-size:9pt; width:300px; height:35px; margin-bottom:0">
            <i class="glyphicon glyphicon-user"> </i>
            <span id="username"></span>
        </div>
        <button onclick="goList()" class="btn btn-warning" style="width:70px; position:relative; top:-1px;">
            <i class="glyphicon glyphicon-th-list"><span style="padding-left:3px; font-size:10.5pt">목록</span></i>
        </button>
        <button onclick="doLogout()" class="btn btn-danger" style="width:70px; position:relative; top:-1px;">
            <i class="glyphicon glyphicon-off"> </i>
        </button>
    </div>

    <table class="table table-condensed table-striped list"
           style="font-size:11pt; margin-bottom:100px; display:inline-block; width:max-content;">
        <tr>
            <th style="width:50px; text-align:right; padding-right:8px;">idx</th>
            <th style="width:50px; text-align:center;">cmd</th>
            <th style="text-align:center;">sentence</th>
        </tr>
        {% for sent in textcont.sents %}
            <tr>
                <th style="text-align:right; vertical-align:top; padding-top:5px">{{ sent.id }}</th>
                <td style="text-align:center; vertical-align:top; padding-top:5px">
                    <button onclick="showDeps({{ sent.id }})" class="btn btn-info">
                        <i class="glyphicon glyphicon-search"> </i>
                    </button>
                    <button onclick="" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"> </i>
                    </button>
                    <button onclick="" class="btn btn-danger">
                        <i class="glyphicon glyphicon-minus"> </i>
                    </button>
                </td>
                <td class="sent" style="line-height:150%; padding-top:5px;">
                    <div id="{{ sent.id }}" class="deps" style="display:none;"></div>
                    <table class="sent" id="{{ sent.id }}">
                        <tr>
                            {% for word in sent.words %}
                                <td>
                                    <table class="word" id="{{ word.id }}"
                                           style="display:inline-block; width:max-content; padding-right:3px;">
                                        <tr>
                                            <td class="word_label"
                                                style="text-align:center; font-size:9pt; font-family:Consolas; color:{{ word.label_color }}">{{ word.label }}</td>
                                        </tr>
                                        <tr>
                                            <td class="word_text"
                                                style="padding-left:10px; padding-right:10px;">{{ word.text }}</td>
                                        </tr>
                                    </table>
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
